<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080056324374-jbfcqkek61b5pj8jrulr6dbps7cki97j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080056324374-jbfcqkek61b5pj8jrulr6dbps7cki97j</string>
	<key>API_KEY</key>
	<string>AIzaSyDS8WpI6dnaEEYBLaf-IJklywoMDva_9xM</string>
	<key>GCM_SENDER_ID</key>
	<string>1080056324374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gasLeak</string>
	<key>PROJECT_ID</key>
	<string>gas-leak-9a56b</string>
	<key>STORAGE_BUCKET</key>
	<string>gas-leak-9a56b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080056324374:ios:4fbea99e9922a384b6b037</string>
</dict>
</plist>